<h1> ACTIVITY - PALMER PENGUINS DATA ANALYTICS PROJECT </h1>

In [5]:
import numpy as np
import pandas as pd

In [6]:
bird = pd.read_csv('datasets\\penguin.csv')

In [7]:
bird

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1> Descriptive Analytics </h1>

In [8]:
bird.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [9]:
bird.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h1>Filtering a Column /Data</h1>

In [10]:
adelie_df = bird[bird['species'] == "Adelie"]

In [11]:
adelie_df['body_mass_g'].mean()

3700.662251655629

In [12]:
adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [13]:
bird['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [14]:
bird['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [15]:
adelie_dream_df = bird[(bird['species'] == 'Adelie') & (bird['island'] == 'Dream')]

In [16]:
bird['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [17]:
bird['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [18]:
[(bird['body_mass_g']>=4000) & (bird['species']== 'Adelie')]

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 339    False
 340    False
 341    False
 342    False
 343    False
 Length: 344, dtype: bool]

<h1>Cleaning The Data Frame</h1>

In [19]:
bird.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h1>What to do with all the NULL VALUES? </h1>

In [20]:
bird['bill_length_mm'].mean()

43.9219298245614

In [21]:
bird['sex'].mode()

0    male
Name: sex, dtype: object

<h1>HOW TO FILLUP NULL VALUES</h1>

In [22]:
bird['bill_length_mm']=bird['bill_length_mm'].fillna(bird['bill_length_mm'].mean())

In [23]:
bird.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [24]:
bird['sex']=bird['sex'].fillna(bird['sex'].mode()[0])

In [25]:
bird.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [26]:
bird['bill_length_mm']=bird['bill_length_mm'].fillna(bird['bill_length_mm'].mean())
bird['bill_depth_mm']=bird['bill_depth_mm'].fillna(bird['bill_depth_mm'].mean())
bird['flipper_length_mm']=bird['flipper_length_mm'].fillna(bird['flipper_length_mm'].mean())
bird['body_mass_g']=bird['bill_length_mm'].fillna(bird['bill_length_mm'].mean())

In [27]:
bird.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>DATA TYPES</h1>

In [28]:
bird.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

<h1>Changing data types</h1>

In [29]:
bird['species']=bird['species'].astype('category')
bird['year']=bird['year'].astype('category')

In [30]:
bird.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    category
dtypes: category(2), float64(4), object(2)
memory usage: 17.2+ KB

<h1>Explanatory Data Analysis(EDA)</h1>

SINO PO SPECIES ANG PINAKA MABIGAT?
SAN PO NG ISLAND NORMALLY NAKATIRA ANG MABIGAT ANG SPECIES?

In [31]:
bird['body_mass_g'].mean()

43.92192982456141

In [32]:
adelie_df=bird[bird['species']=="Adelie"]

In [33]:
adelie_df['body_mass_g'].mean()

38.82514427516159

In [34]:
bird[bird['species']=="Adelie"]['body_mass_g'].mean()

38.82514427516159

<h1>10 QUESTIONS</h1>

1.How many Adelie penguins are there in the dataset?
2.Which island has the most penguins recorded?
3.What is the average bill length of Gentoo penguins?
4.Which species has the longest average flipper length?
5.How many penguins are male versus female?
6.What is the heaviest penguins body mass?
7.What is the average body mass of chinstrap penguins on Dream island?
9.Which species has the shortest average bill depth
10.How many penguins have missing date for bill length

<h1>1</h1>

In [45]:
adelie_count= bird[bird["species"]=='Adelie'].mean
adelie_count

<bound method DataFrame.mean of     species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen        39.10000       18.70000         181.000000
1    Adelie  Torgersen        39.50000       17.40000         186.000000
2    Adelie  Torgersen        40.30000       18.00000         195.000000
3    Adelie  Torgersen        43.92193       17.15117         200.915205
4    Adelie  Torgersen        36.70000       19.30000         193.000000
..      ...        ...             ...            ...                ...
147  Adelie      Dream        36.60000       18.40000         184.000000
148  Adelie      Dream        36.00000       17.80000         195.000000
149  Adelie      Dream        37.80000       18.10000         193.000000
150  Adelie      Dream        36.00000       17.10000         187.000000
151  Adelie      Dream        41.50000       18.50000         201.000000

     body_mass_g     sex  year
0       39.10000    male  2007
1       39.50000  female  2007
2       40.30000  female  2007
3       43.92193    male  2007
4       36.70000  female  2007
..           ...     ...   ...
147     36.60000  female  2009
148     36.00000  female  2009
149     37.80000    male  2009
150     36.00000  female  2009
151     41.50000    male  2009

[152 rows x 8 columns]>

<h1>2</h1>

In [47]:
most_island=bird["island"].value_counts().idxmax()

In [48]:
most_island

'Biscoe'

<h1>3</h1>

In [50]:
gentoo_bill_length =bird[bird["species"]=="Gentoo"]["bill_length_mm"].mean

In [51]:
gentoo_bill_length

<bound method Series.mean of 152    46.10000
153    50.00000
154    48.70000
155    50.00000
156    47.60000
         ...
271    43.92193
272    46.80000
273    50.40000
274    45.20000
275    49.90000
Name: bill_length_mm, Length: 124, dtype: float64>

<h1>Categorical  to numerical correlation</h1>

using one way anovo

library scientific python (SciPY)

In [41]:
from  scipy.stats import f_oneway

In [42]:
male_df = bird[bird["sex"]=="male"]

In [43]:
male_df['body_mass_g']

0      39.10000
3      43.92193
5      39.30000
7      39.20000
8      34.10000
         ...
334    50.20000
336    51.90000
339    55.80000
341    49.60000
342    50.80000
Name: body_mass_g, Length: 179, dtype: float64

In [44]:
bird[bird['sex']=='male']['body_mass_g']

0      39.10000
3      43.92193
5      39.30000
7      39.20000
8      34.10000
         ...
334    50.20000
336    51.90000
339    55.80000
341    49.60000
342    50.80000
Name: body_mass_g, Length: 179, dtype: float64