<h1> ACTIVITY - PALMER PENGUINS DATA ANALYTICS PROJECT </h1>

In [4]:
import numpy as np
import pandas as pd

In [5]:
bird = pd.read_csv('datasets\\penguin.csv')

In [6]:
bird

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1> Descriptive Analytics </h1>

In [7]:
bird.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [8]:
bird.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h1>Filtering a Column /Data</h1>

In [9]:
adelie_df = bird[bird['species'] == "Adelie"]

In [10]:
adelie_df['body_mass_g'].mean()

np.float64(3700.662251655629)

In [11]:
adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [12]:
bird['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [13]:
bird['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [14]:
adelie_dream_df = bird[(bird['species'] == 'Adelie') & (bird['island'] == 'Dream')]

In [15]:
bird['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [16]:
bird['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [17]:
[(bird['body_mass_g']>=4000) & (bird['species']== 'Adelie')]

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 339    False
 340    False
 341    False
 342    False
 343    False
 Length: 344, dtype: bool]

<h1>Cleaning The Data Frame</h1>

In [18]:
bird.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h1>What to do with all the NULL VALUES? </h1>

In [19]:
bird['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [20]:
bird['sex'].mode()

0    male
Name: sex, dtype: object

<h1>HOW TO FILLUP NULL VALUES</h1>

In [21]:
bird['bill_length_mm']=bird['bill_length_mm'].fillna(bird['bill_length_mm'].mean())

In [22]:
bird.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [23]:
bird['sex']=bird['sex'].fillna(bird['sex'].mode()[0])

In [24]:
bird.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [25]:
bird['bill_length_mm']=bird['bill_length_mm'].fillna(bird['bill_length_mm'].mean())
bird['bill_depth_mm']=bird['bill_depth_mm'].fillna(bird['bill_depth_mm'].mean())
bird['flipper_length_mm']=bird['flipper_length_mm'].fillna(bird['flipper_length_mm'].mean())
bird['body_mass_g']=bird['bill_length_mm'].fillna(bird['bill_length_mm'].mean())

In [26]:
bird.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>DATA TYPES</h1>

In [27]:
bird.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

<h1>Changing data types</h1>

In [28]:
bird['species']=bird['species'].astype('category')
bird['year']=bird['year'].astype('category')

In [29]:
bird.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    category
dtypes: category(2), float64(4), object(2)
memory usage: 17.2+ KB

<h1>Explanatory Data Analysis(EDA)</h1>

SINO PO SPECIES ANG PINAKA MABIGAT?
SAN PO NG ISLAND NORMALLY NAKATIRA ANG MABIGAT ANG SPECIES?

In [30]:
bird['body_mass_g'].mean()

np.float64(43.92192982456141)

In [31]:
adelie_df=bird[bird['species']=="Adelie"]

In [32]:
adelie_df['body_mass_g'].mean()

np.float64(38.82514427516159)

In [33]:
bird[bird['species']=="Adelie"]['body_mass_g'].mean()

np.float64(38.82514427516159)

<h1>10 QUESTIONS</h1>

1.How many Adelie penguins are there in the dataset?
2.Which island has the most penguins recorded?
3.What is the average bill length of Gentoo penguins?
4.Which species has the longest average flipper length?
5.How many penguins are male versus female?
6.What is the heaviest penguins body mass?
7.What is the average body mass of chinstrap penguins on Dream island?
9.Which species has the shortest average bill depth
10.How many penguins have missing date for bill length

<h1>1. How many Adelie penguins are there in the dataset?</h1>

In [44]:
adelie_count = bird[bird["species"] == "Adelie"]["species"].count()
adelie_count

np.int64(152)

<h3>Insight: Adelie penguins are the most commonly studied group, and this shows how many were recorded.</h3>
<hr>

<h1>2. Which island has the most penguins recorded?</h1>

In [45]:
island_counts = bird.groupby("island")["species"].count()
max_island = island_counts[island_counts == island_counts.max()]
max_island

island
Biscoe    168
Name: species, dtype: int64

<h3>Insight: This island has the largest penguin population in the dataset, showing it as a key habitat.</h3>
<hr>

 <h1>3. What is the average bill length of Gentoo penguins?</h1>

In [47]:
gentoo_avg_bill = bird[bird["species"] == "Gentoo"]["bill_length_mm"].mean()
gentoo_avg_bill

np.float64(47.475983305036785)

<h3>Insight: Gentoo penguins tend to have longer bills, which help them adapt to their diet and environment.</h3>
<hr>

<h1>4. Which species has the longest average flipper length?</h1>

In [50]:
avg_flipper_species = bird.groupby("species")["flipper_length_mm"].mean()
max_flipper_species = avg_flipper_species[avg_flipper_species == avg_flipper_species.max()]
max_flipper_species

C:\Users\Kenzo\AppData\Local\Temp\ipykernel_13860\4159575714.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_flipper_species = bird.groupby("species")["flipper_length_mm"].mean()

species
Gentoo    217.055768
Name: flipper_length_mm, dtype: float64

<h3>Insight: Longer flippers suggest stronger swimming ability, which is useful for Gentoo penguins in deep waters.</h3>
<hr>

<h1>5. How many penguins are male versus female?</h1>

In [51]:
sex_counts = bird.groupby("sex")["species"].count()
sex_counts

sex
female    165
male      179
Name: species, dtype: int64

<h3>Insight: The balance of males and females shows the dataset is well-distributed for gender comparison.</h3>
<hr>

<h1>6. What is the heaviest penguin's body mass?</h1>

In [52]:
max_weight = bird["body_mass_g"].max()
max_weight

np.float64(59.6)

<h3>Insight: The heaviest penguin gives us an idea of the upper size limit observed in the species.</h3>
<hr>

<h1>7. What is the average body mass of Chinstrap penguins on Dream island?</h1>

In [55]:
chinstrap_dream_avg = bird[(bird["species"] == "Chinstrap") & (bird["island"] == "Dream")]["body_mass_g"].mean()
chinstrap_dream_avg

np.float64(48.83382352941177)

<h3>Insight: This shows how Chinstrap penguins on Dream island compare in size to other species and locations.</h3>
<hr>

<h1>8. Which species has the shortest average bill depth?</h1>

In [56]:
avg_depth_species = bird.groupby("species")["bill_depth_mm"].mean()
min_depth_species = avg_depth_species[avg_depth_species == avg_depth_species.min()]
min_depth_species

C:\Users\Kenzo\AppData\Local\Temp\ipykernel_13860\749601762.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_depth_species = bird.groupby("species")["bill_depth_mm"].mean()

species
Gentoo    14.999606
Name: bill_depth_mm, dtype: float64

<h3>Insight: A shorter bill depth may be linked to different feeding habits compared to other species.</h3>
<hr>

<h1>9. How many penguins have missing data for bill length?</h1>

In [57]:
missing_bill = bird["bill_length_mm"].isna().sum()
missing_bill

np.int64(0)

<h3>Insight: Missing values highlight data collection gaps that should be considered in analysis.</h3>
<hr>

<h1>10. Group by island and calculate mean body mass</h1>

In [58]:
avg_weight_island = bird.groupby("island", observed=True)["body_mass_g"].mean()
max_weight_island = avg_weight_island[avg_weight_island == avg_weight_island.max()]
max_weight_island

island
Biscoe    45.249535
Name: body_mass_g, dtype: float64

<h3>Insight: This shows which island hosts the largest-bodied penguins on average.</h3>
<hr>

<h1>11. What year recorded the longest average bill length?</h1>

In [59]:
avg_bill_year = bird.groupby("year", observed=True)["bill_length_mm"].mean()
max_bill_year = avg_bill_year[avg_bill_year == avg_bill_year.max()]
max_bill_year

year
2009    44.448516
Name: bill_length_mm, dtype: float64

<h3>Insight: This helps identify if certain years had penguins with larger bills, which could suggest environmental influence.</h3>
<hr>

<h1>12. Which species has the heaviest penguin on record?</h1>

In [60]:
max_weight_species = bird.groupby("species", observed=True)["body_mass_g"].max()
heaviest_species = max_weight_species[max_weight_species == max_weight_species.max()]
heaviest_species

species
Gentoo    59.6
Name: body_mass_g, dtype: float64

<h3>Insight: This highlights which species reaches the highest individual body mass across the dataset.</h3>
<hr>